@model IEnumerable<CRUD_APP.Models.Product>

<h2>Product List</h2>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Id</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var product in Model)
    {
        <tr>
            <td>@product.Name</td>
            <td>@product.Price</td>
            <td>@product.Id</td>
            <td>
                <a asp-action="Details" asp-route-id="@product.Id">Details</a>
                <a asp-action="Edit" asp-route-id="@product.Id">Edit</a>
                <a asp-action="Delete" asp-route-id="@product.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
    <a asp-action="Create">Create New Product</a>
</table>